*{
    box-sizing: border-box;
     font-family: 'Lato', sans-serif; 
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 80px;
  display: flex;
        align-items: center;
        justify-content: center;
}

/* Style the links inside the navigation bar */
.topnav a {
 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



  
   main{
    max-width: 750px;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20%;
    top: 10%;
    
  }
.container{
    margin-top: 20%;
}
.btnajout {
    background-color: rgb(124, 122, 122);
    border: 1px solid rgb(46, 46, 46);
    border-radius: 10%;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-bottom: 20px;
  }
 @media only screen and (max-width: 650px){
    .btnajout {
        width:40%;
        text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  right: 20%;
  
    }
  }
  

  .btnajout:hover, .btnajout:active{

    background-color: rgb(132, 134, 132);
    color: white;
  } 
  /* .butajo{
      position: relative;
      left: 20%;
  } */

  table {
    table-layout: fixed;
    border: medium solid;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
  }
  @media only screen and (max-width: 650px){
    table {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 20%;
    }
  } 
  table th {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(121, 121, 121);
    padding: 15px;
    color: rgb(26, 25, 25);
    
}


  table td{
    border: 1px solid rgb(0, 0, 0) ;
    background-color: rgb(195, 194, 194);
    padding: 15px;

}

 /* table .tr{
      width: 70px;

  }*/
   table td .btn_btn{ 
      display: inline-flex;
      align-items: center;
     justify-content: center;
    text-decoration: none;
    color: black;
    margin: 2%;
    width: 70px;

    border-right: 1px solid rgb(0, 0, 0);
  } 
   /* .abcd{
     width: 100%;
   
  }  */
  .bage{
    margin-top: 20%;
  }
  .page{
    padding-top: 10%;
    background-color: aqua;
  }
  footer{
    border: 1px solid ;
    width: auto; 
    height: 70px;
    background-color: rgb(14, 13, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0 2px;
    margin-top: 20%;
    
  }
 
  footer p{
    color: rgb(13, 13, 14);
}